@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

ul.budget__table, ul.labels, ul.item, ul.total {
    list-style: none;
    padding: 0;
}

.budget {
    margin-top: 2rem;
    &__container {
        @include card-style;
    }
    &__title {
        @include font-family-title;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    &__table {
        margin: 0.5rem;
        margin-top: 0;
    }
    &__labels {
        padding: 1rem 0;
        margin: 0 1.5rem;
        border-bottom: 1px solid $color-border-card;
    }
    &__item {
        margin: 0.5rem 1.5rem;
    }
    &__total {
        margin: 1rem 1.5rem;
        padding: 1rem 0;
        border-top: 2px solid $color-border-card;
    }
}

.labels {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.item {
    display: flex;
    justify-content: space-between;
    &__value {
        width: 8rem;
        overflow-x: hidden;
        @include tablet {
            width: 10rem;
            overflow-x: revert;
        }
    }
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}