@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.main-dp {
    margin: 1rem 2rem;
    @include font-family-body;

    @include tablet {
        margin: 1.5rem 2.5rem;
    }

    @include desktop {
        @include desktop-fixed-size;
    }

    &__title {
        @include font-family-title
    }
    &__menu-hidden {
        display: none;
    }
}

.show-new-budget {
    &--hidden {
        display: none;
    }
}

.show-tracked-budget {
    &--hidden {
        display: none;
    }
}

.show-new-tracker {
    &--hidden {
        display: none;
    }
}


.main-unauth-dp {
    margin: 0;
    @include font-family-body;

    @include tablet {
        margin: 1.5rem 2.5rem;
    }

    @include desktop {
        @include desktop-fixed-size;
    }

    &__container {
        margin: 0 2rem;
    }

    &__title {
        @include font-family-title;
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    &__copy {
        font-size: 1.25rem;
    }
}