
$color-background-header: #53ccfb;
$color-background-light: #cee2e4;
$color-background-secondary: #44a4c4;
$color-background-dark: #4c748c;

$color-font-primary: #383f41;
$color-font-secondary: #fff;
$color-font-titles: #4c748c;
$color-font-alt: #758b8e;
