
$color-background-secondary: #73d7ff;
$color-background-white: #f9f8f7;
$color-background-light: #cee2e4;
$color-background-header: #58ccfc;
$color-background-dark: #4c748c;

$color-font-primary: #383f41;
$color-font-secondary: #fff;
$color-font-titles: #4c748c;
$color-font-alt: #758b8e;
