@use './colors' as *;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin font-family-body {
    font-family: 'Avenir';
    font-weight: 400;
}

@mixin font-family-logo {
    font-family: 'Grotesk';
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin font-family-title {
    font-family: 'Avenir';
    font-weight: 600;
}

@mixin card-style {
    border: 1px solid $color-border-card;
    box-shadow: 0 0 5px $color-border-card;
    border-radius: 1rem;
}

@mixin quote-style {
    width: 65%;
    text-align: left;
    font-style: italic;
}

@mixin desktop-fixed-size {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@mixin button-style {
    color: $color-font-secondary;
    border-radius: 3rem;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1rem;
}