@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.hero {
    background-color: $color-background-secondary;
    @include font-family-body;
    color: $color-font-secondary;

    &__content-container {
        padding-top: 2rem;
    }

    &__action-container {
        padding: 3rem;
        @include tablet {
            padding-bottom: 4rem;
        }
    }

    &__title {
        margin: 0 1.25rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        color: $color-font-secondary;
    }

    &__copy {
        margin: 0 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        color: $color-font-primary;
        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__register {
        color: $color-font-secondary;
        padding: 1.25rem 2rem;
        font-size: 1.25rem;
        background-color: $color-background-dark;
        border-radius: 3rem;
    }
}
