@use './partials/typography' as *;
@use './partials/colors' as *;
@use './partials/mixins' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    background-color: $color-background-white;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }