@use './partials/typography' as *;
@use './partials/colors' as *;
@use './partials/mixins' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  * {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    // @include font-family-body
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }