@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;

.header {
    margin: 1rem;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @include font-family-logo;
    }

    &__auth {
        @include font-family-body;
    }
}

