@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.container {
    background-color: $color-background-header;
    padding: 1rem 1.5rem;
    @include tablet {
        padding: 0.5rem 1.5rem;
    }
}

.header {
    color: $color-font-secondary;

    @include tablet {
        margin: 0.5rem 1.5rem;
    }

    @include desktop {
        @include desktop-fixed-size;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-right {
        display: flex;
        align-items: center;
    }

    &__logo {
        @include font-family-logo;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__logo-link {
        color: $color-font-secondary;
    }

    &__auth {
        @include font-family-body;
        background-color: $color-button-login;
        color: $color-font-secondary;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.35rem 0.75rem;
        margin-right: 1rem;
        font-size: 1rem;

        @include tablet {
            font-size: 1.25rem;
        }

        &--hide {
            display: none;
        }
    }
}

button.header__auth {
    border: none;
}

.hamburger-react {
    @include tablet {
        display: none;
    }

}