@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.container {
    background-color: $color-background-header;
    padding: 1rem;
}

.header {
    color: $color-font-secondary;

    @include tablet {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-right {
        display: flex;
        align-items: center;
    }

    &__logo {
        @include font-family-logo;
    }

    &__auth {
        @include font-family-body;
        background-color: $color-background-dark;
        color: $color-font-secondary;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.35rem 0.75rem;
        margin-right: 1rem;
        font-size: 1rem;
    }
}

.hamburger-react {
    @include tablet {
        display: none;
    }
    
}

