@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.action-article {
    @include font-family-body;
    width: 90%;
    margin: 2rem auto 4.5rem auto;

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 1rem;
    }

    &__copy {
        font-size: 1.3125rem;
        margin: 1rem;
    }

    &__container {
        margin: 2rem 0;
    }

    &__link {
        color: $color-font-secondary;
        padding: 1rem 1.75rem;
        font-size: 1.25rem;
        background-color: $color-background-dark;
        border-radius: 3rem;
    }
}