@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.register {
    @include font-family-body;
    @include card-style;
    width: 80%;
    margin: 2rem auto;
    background-color: #fff;

    @include desktop {
        @include desktop-fixed-size;
    }

    &__title {
        @include font-family-title;
        margin-bottom: 0.75rem;
    }

    &__copy {
        @include font-family-body;
        margin: 0.5rem 2rem;
        margin-bottom: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin: 0.5rem 2rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid $color-border-card;
        font-weight: 600;
    }

    &__button {
        @include button-style;
        width: fit-content;
        margin: 2rem auto;
        background-color: $color-card-one;
    }
}

.login {
    margin-bottom: 2rem;

    &__copy {
        margin: 0;
    }

    &__link {
        margin: 1rem 0;
        color: $color-font-primary;
        font-weight: 600;
        text-decoration: underline;
    }
}

.success-message {
    &--hidden {
        display: none;
    }

    &--active {
        margin: 0.5rem 3rem 0 3rem;
        color: $color-font-titles;
        font-weight: 600;
    }
}

.show-password {
    display: flex;
    justify-content: flex-end;
    margin-right: 2.5rem;
    position: relative;

    &__icon {
        &--active {
            position: relative;
            top: -44px;
            width: 1.5rem;
        }

        &--hide {
            display: none;
            width: 1.5rem;
        }
    }
}