@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.intro {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    align-items: center;
    @include tablet {
        margin: 2rem 3rem;
    }
    @include desktop {
        @include desktop-fixed-size;
    }

    &__image {
        width: 16rem;
        @include tablet {
            width: 18rem;
        }
        @include desktop {
            width: 20rem;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 0.5rem;
        @include font-family-title;
        font-size: 2rem;
        @include tablet {
            margin-bottom: 1.5rem;
        }
    }

    &__copy {
        margin: 0 1rem;
        margin-top: 1rem;
        @include font-family-body;
        font-size: 1.3125rem;
    }
    &__next-steps {
        margin: 0;
        margin-top: 1rem;
        @include font-family-body;
        font-size: 1.3125rem;
    }
}