@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.intro {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    @include tablet {
        margin: 1.5rem 2.5rem;
    }
    @include desktop {
        @include desktop-fixed-size;
    }

    &__title {
        margin: 0;
        margin-bottom: 0.5rem;
        @include font-family-title;
        font-size: 2rem;
        @include tablet {
            margin-bottom: 1.5rem;
        }
    }

    &__copy {
        margin: 0;
        @include font-family-body;
        font-size: 1.3125rem;
    }
}