@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.main-lp {
    @include tablet {
        margin: 0 1.5rem;
    }
    @include desktop {
        // @include desktop-fixed-size;
        // margin: 0 auto;
    }
    &__main-container {
        @include desktop {
            @include desktop-fixed-size;
            // margin: 0 auto;
        }   
    }
    &__title {
        @include font-family-title;
        font-size: 3rem;
        @include tablet {
            margin-top: 1rem;
        }
    }

    &__intro-container {
        margin: 0;
    }

    &__learning-paths {
        margin-top: 3rem;
    }

    &__path {
        margin: 1rem 0;
        margin-bottom: 2rem;
    }
}

.path {
    &__title {
        @include font-family-title;
        font-size: 1.5rem;
        color: $color-font-titles;
    }

    &__carousel {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding: 1rem;
        padding-left: 1.5rem;
        @include desktop {
            overflow-x: visible;
            flex-wrap: wrap;
            justify-content: center;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}