@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.login {
    @include font-family-body;
    @include card-style;
    width: 80%;
    margin: 2rem auto;
    background-color: #fff;

    @include desktop {
        @include desktop-fixed-size;
    }

    &__title {
        @include font-family-title;
        margin: 1rem 0;
        font-size: 2rem;
    }

    &__copy {
        @include font-family-body;
        margin: 0.5rem 2rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            max-width: 35rem;
            margin: 0 auto;
        }
    }

    &__input {
        margin: 0.5rem 2rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid $color-border-card;
        font-weight: 600;
        font-size: 1rem;
        @include tablet {
            font-size: 1.25rem;
        }
    }

    &__button {
        @include button-style;
        width: fit-content;
        margin: 0 auto;
        margin-top: 0;
        background-color: $color-card-one;
        font-size: 1.25rem;
    }
}

.register-redirect {
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__copy {
        margin: 0;
        font-size: 1.25rem;
    }

    &__link {
        margin: 1rem 0;
        color: $color-font-primary;
        font-weight: 600;
        text-decoration: underline;
        font-size: 1.25rem;
    }
}