@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.main-hp {
    @include desktop {
        @include desktop-fixed-size;

    }
}

.questions {
    @include font-family-body;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

    &__gallery{
        // ### TODO : fix carousel for non-mobile screens
        // @include tablet {
        //     display: flex;
        //     flex-wrap: wrap;
        //     justify-content: center;
        // }
    }

    &__container {
        margin: 0 auto;
    }

    &__title {
        @include font-family-title;
        font-size: 1.6rem;
        margin: 1rem;
    }

    &__question {
        margin: 0;
        margin-top: 0.2rem;
        font-size: 1rem;
        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__image {
        width: 20rem;
        margin: 0.2rem auto;
        @include tablet {
            width: 40rem;
        }
        @include desktop {
            width: 50rem;
        }
    }
}