@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.nav {
    display: none;

    @include tablet {
        @include font-family-body;
        color: $color-font-secondary;
        display: flex;
        justify-content: center;
        font-weight: 500;

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            margin-top: 0.5rem;
        }

        &__item {
            color: $color-font-secondary;
            margin: 0 2rem;
        }

        &__link {
            color: $color-font-secondary;
            @include tablet {
                font-size: 1.25rem;
            }
        }
    }
}